<!--  File Name: viewtourney.ejs
      Author: Web Wiz
      Group Number: 1
      Date: July 13, 2021
-->
<div class="container">
<%if (competitor.length == 8 ) { %>
    <h1 class="text-center">Tournament Tree</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < 2; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=2; count < 4; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=4; count < 6; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=6; count < 8; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < 2; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=2; count < 4; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < 2; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<% } %>

<!------------------------------------------------------------------------------------------------------------------------------------------------->



<%if (competitor.length == 16 ) { %>
    <h1 class="text-center">Tournament Tree</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < 2; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=2; count < 4; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=4; count < 6; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=6; count < 8; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-2 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < 2; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=2; count < 4; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-2 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < 2; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-2 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=8; count < 10; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-2 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=8; count < 10; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=10; count < 12; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-2">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=8; count < 10; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=10; count < 12; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=12; count < 14; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=14; count < 16; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<% } %>

</div>